services:
  eve_srp_db:
    container_name: eve_srp_db
    image: mariadb:10.11
    restart: unless-stopped
    volumes: ["./.db/mariadb:/var/lib/mysql"]
    environment:
      MYSQL_ROOT_PASSWORD: eve_srp
      MYSQL_USER: eve_srp
      MYSQL_PASSWORD: eve_srp
      MYSQL_DATABASE: eve_srp
    ports: ["33061:3306"]
    networks: [eve-srp]
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 60s
      timeout: 5s
      retries: 5
      start_period: 30s

  eve_srp_db_postgres:
    container_name: eve_srp_db_postgres
    image: postgres:13-alpine
    restart: unless-stopped
    volumes: ["./.db/postgresql:/var/lib/postgresql/data"]
    environment:
      POSTGRES_PASSWORD: eve_srp
    ports: ["55432:5432"]
    networks: [eve-srp]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 60s
      timeout: 5s
      retries: 5
      start_period: 30s

  eve_srp_node:
    container_name: eve_srp_node
    image: node:20.14.0-alpine
    restart: unless-stopped
    tty: true
    volumes: [".:/app"]
    working_dir: /app

  eve_srp_php:
    container_name: eve_srp_php
    build:
      context: config
      #dockerfile: dockerfile-php81-fpm
      #dockerfile: dockerfile-php82-fpm
      #dockerfile: dockerfile-php83-fpm
      dockerfile: dockerfile-php84-fpm
    restart: unless-stopped
    depends_on:
      eve_srp_db:
        condition: service_healthy
    volumes: [".:/app"]
    working_dir: /app
    networks: [eve-srp]
    dns: [8.8.8.8]
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9000 || exit 1"]
      interval: 60s
      timeout: 5s
      retries: 5
      start_period: 60s

  eve_srp_http:
    container_name: eve_srp_http
    image: nginx:1
    restart: unless-stopped
    depends_on:
      eve_srp_php:
        condition: service_healthy
    volumes: [".:/app", "./config/docker-nginx.conf:/etc/nginx/conf.d/default.conf"]
    ports: ["9000:80"]
    networks: [eve-srp]
    healthcheck:
      test: ["CMD-SHELL", "service nginx status || exit 1"]
      interval: 60s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  eve-srp:
    #external: true
    #name: neucore_dev
    #name: neucore_prod
